/* ====================================
// css variables
// ==================================== */

:root {
  stroke:none;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: grey;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  height: 2336px;
  margin: auto;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}
.introduction-text,
nav,
.information,
.text-whats-new,
.a {
  font-family: 'Noto Serif', serif;
}

.introduction-text,
nav,
a,
button {
  color: #fff;
}

.introduction-text,
h2,
nav,
.reference {
  text-transform: uppercase;
}

header {
  background: #D7A1FD;
  padding: 20px;
}

.principal-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.introduction-text {
  margin-top: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  background: black;
  justify-content: space-around;
  padding: 20px;
}

a {
  text-decoration: none;
}

h1,
h2,
h4 {
  font-size: 50px;
}

.title-whats-on,
.title-whats-new {
  margin-top: 60px;
  margin-bottom: 40px;
}

.whats-on-div img {
  border-bottom: solid 7px #D7A1FD;
}

.container-whats-on .info-div-whats-on {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.information,
.title-div-whats-on {
  padding: 5px;
}

.container-whats-on .whats-on-div{
  display: flex;
  flex-direction: row;
}

button {
  background: black;
  font-style: italic;
  color: #D7A1FD;
  padding: 15px 30px 15px 30px;
  margin: 30px 97px 0 97px;
}

.sitation {
  font-size: 30px;
  font-style: italic;
  padding: 20px;
}

.container-sitation {
  background: #98FB00;
  margin-top: 60px;
  padding-bottom: 10px;
}

.container-all-whats-new {
  background: #F4EDE8;
}

h4 {
  background: #D7A1FD;
  padding: 20px;
}

.options-opportunities {
  background: #98FB00;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 20px 10px 20px 10px;
  text-align: left;
  font-style: italic;
}

.container-opportunities {
  display: flex;
  flex-direction: row;
}
