/* ====================================
// css variables
// ==================================== */

:root {
  stroke:none;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: grey;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  height: 2336px;
  margin: auto;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}
.introduction-text,
nav,
.information,
.text-whats-new,
.a {
  font-family: 'Noto Serif', serif;
}

.introduction-text,
nav,
a,
button {
  color: #fff;
}

.introduction-text,
h2,
nav,
.reference {
  text-transform: uppercase;
}

